In [37]:
import pandas as pd
import numpy as np
import csv, json

In [38]:
#Reading data from tags.csv into dataframe
df = pd.read_csv('/home/vinodchhapariya/Desktop/ThesisWork/Datasets/ml-latest-small/tags.csv')

#copying dataframe into numpy array
np_df = df.as_matrix()

print df.shape
print len(df['userId'].unique())
print len(df['movieId'].unique())
print len(df['tag'].unique())
df.head()

(1296, 4)
61
689
582

   userId  movieId                      tag   timestamp
0      15      339  sandra 'boring' bullock  1138537770
1      15     1955                  dentist  1193435061
2      15     7478                 Cambodia  1170560997
3      15    32892                  Russian  1170626366
4      15    34162              forgettable  1141391765

In [39]:
#TagCube - creating and initialization with zeros 
TagCube = np.zeros((len(df['userId'].unique()),len(df['movieId'].unique()),len(df['tag'].unique())), dtype=np.int)
print TagCube.shape

(61, 689, 582)

In [40]:
#Creating list for unique user, movie and tags in a dataset
userIdList=df['userId'].unique()
movieIdList=df['movieId'].unique()
tagList=df['tag'].unique()

In [41]:
#Getting array index from element using np.where
#np_df[any][0]-->userId, np_df[any][1]-->movieId, np_df[any][2]-->tag
p, = np.where(userIdList==[np_df[20][0]])
p[0]

3

In [42]:
#Creating TagCube(3d Array - [U,I,T]) and sparse dictionary with adding entries from tags dataframe row. 

sparseDict={}

for i in range(0, len(df)):
    if (np_df[i][0] in userIdList):
        p, = np.where(userIdList==[np_df[i][0]])
    if (np_df[i][1] in movieIdList):
        q, = np.where(movieIdList==[np_df[i][1]])
    if (np_df[i][2] in tagList):
        r, = np.where(tagList==[np_df[i][2]])
    TagCube[p[0]][q[0]][r[0]]=1 
    sparseDict[i]=[p[0],q[0],r[0]]

#print TagCube
#print sparseDict

In [44]:
#Storing to csv file - #(user*item) rows, #tags columns (appending #item rows for each user per iteration)
p,q,r= TagCube.shape
with open("TagCube.csv","a")as file:
    for i in range(0, p):
        np.savetxt(file,TagCube[i,...], delimiter=',', fmt='%d')

In [45]:
#Storing sparse dictionary of (user,item,tag) to json file
with open('sparseTagCube.json', 'w') as jf:
    json.dump(sparseDict, jf)

In [53]:
movie_df = pd.read_csv('/home/vinodchhapariya/Desktop/ThesisWork/Datasets/ml-latest-small/movies.csv')

In [69]:
for i in range(0, 10):
    print "Index:", sparseDict[i],"\n"
    print "UserId:", userIdList[sparseDict[i][0]],"\n"
    print "Movie Details:\n", movie_df.loc[movie_df['movieId'] == movieIdList[sparseDict[i][1]]],"\n"
    print "Tag:", tagList[sparseDict[i][2]]
    print "\n**********************************\n"

Index: [0, 0, 0]

UserId: 15

Movie Details:
     movieId                           title          genres
304      339  While You Were Sleeping (1995)  Comedy|Romance

Tag: sandra 'boring' bullock

**********************************

Index: [0, 1, 1]

UserId: 15

Movie Details:
      movieId                     title genres
1517     1955  Kramer vs. Kramer (1979)  Drama

Tag: dentist

**********************************

Index: [0, 2, 2]

UserId: 15

Movie Details:
      movieId                        title genres
5166     7478  Swimming to Cambodia (1987)  Drama

Tag: Cambodia

**********************************

Index: [0, 3, 3]

UserId: 15

Movie Details:
      movieId                                              title     genres
6118    32892  Ivan's Childhood (a.k.a. My Name is Ivan) (Iva...  Drama|War

Tag: Russian

**********************************

Index: [0, 4, 4]

UserId: 15

Movie Details:
      movieId                    title          genres
6178    34162  Wedding Crashers (2005)  Comedy|Romance

Tag: forgettable

**********************************

Index: [0, 5, 5]

UserId: 15

Movie Details:
      movieId           title           genres
6208    35957  Red Eye (2005)  Horror|Thriller

Tag: short

**********************************

Index: [0, 6, 6]

UserId: 15

Movie Details:
      movieId                title                                    genres
6236    37729  Corpse Bride (2005)  Animation|Comedy|Fantasy|Musical|Romance

Tag: dull story

**********************************

Index: [0, 7, 7]

UserId: 15

Movie Details:
      movieId                          title       genres
6453    45950  Inconvenient Truth, An (2006)  Documentary

Tag: powerpoint

**********************************

Index: [0, 8, 8]

UserId: 15

Movie Details:
      movieId                 title       genres
8268   100365  Call Me Kuchu (2012)  Documentary

Tag: activist

**********************************

Index: [0, 8, 9]

UserId: 15

Movie Details:
      movieId                 title       genres
8268   100365  Call Me Kuchu (2012)  Documentary

Tag: documentary

**********************************

In [68]:
print movieIdList[6]
movie_df.loc[movie_df['movieId']==37729]

37729

      movieId                title                                    genres
6236    37729  Corpse Bride (2005)  Animation|Comedy|Fantasy|Musical|Romance

### Demo -  user item pairs for tag context K

In [21]:
for i in range(0, len(sparseDict)):
    l = sparseDict.get(i)
    if(l[2]==87):
        print l[0],l[1],l[2]

18 50 87
30 177 87
34 224 87
56 685 87

In [28]:
print tagList[87]
print movieIdList[50], movieIdList[177], movieIdList[224], movieIdList[685]

revenge
1061 318 27773 111384

In [56]:
print movie_df.loc[movie_df['movieId'] == 1061]
print movie_df.loc[movie_df['movieId'] == 318]
print movie_df.loc[movie_df['movieId'] == 27773]
print movie_df.loc[movie_df['movieId'] == 111384]

     movieId            title    genres
859     1061  Sleepers (1996)  Thriller
     movieId                             title       genres
284      318  Shawshank Redemption, The (1994)  Crime|Drama
      movieId           title            genres
5941    27773  Old Boy (2003)  Mystery|Thriller
      movieId             title    genres
8584   111384  Blue Ruin (2013)  Thriller